body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 100px;
}

.play-button {
  display: inline-block;
  padding: 15px 30px;
  background: #060ce9;
  color: white;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
}

.play-button:hover {
  background: #1e90ff;
}
